@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Sorts+Mill+Goudy&display=swap');
@import  url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Hubballi&family=Sorts+Mill+Goudy&display=swap');

.Header{
    text-align: center;
    font-family:"Amatic SC" , cursive ;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}